.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
}

@media only screen and (min-width: 600px) {
  .App {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: "Work Sans";
  }
}
