.Main {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95%;
  z-index: 1;
  overflow-y: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.header-title {
  padding: 8%;
  font-size: 1.5em;
}

.header-settings {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 5%;
  opacity: 0;
}

.header-logout {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 5%;
}

.tasks-field {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  height: 70%;
  overflow: auto;
  scroll-behavior: smooth;
  border: 1px solid rgba(213, 217, 217, 0.5);
  border-radius: 7px;
}

.tasks-field::-webkit-scrollbar {
  width: 8px;
}

.tasks-field::-webkit-scrollbar-thumb {
  background-color: #ada9a9;
  border-radius: 4px;
}

.tasks-field::-webkit-scrollbar-thumb:hover {
  background-color: #979595;
}

.no-items {
  text-align: center;
  margin-top: 150px;
}

.task-item {
  display: flex;
  width: 100%;
  font-weight: 800;
  flex-direction: row;
  list-style-type: none;
  padding: 20px;
  margin-bottom: 10px;
  transition: 300ms;
  opacity: 1;
}

.hide {
  opacity: 0;
}

.task-item .title i {
  font-size: 0.7em;
  opacity: 0.5;
  cursor: default;
}

.task-item:hover {
  font-size: 1.1em;
}

.complete-button {
  margin-right: 20px;
  transition: 300ms;
  opacity: 0.3;
}

.complete-button:hover {
  opacity: 1;
}

.input-field {
  display: flex;
  margin: 0 auto;
}

.input-task {
  flex: 1;
  font-size: 1em;
  transition: 300ms;
  width: 15em;
  padding: 10px;
  margin-right: 15px;
  border: none;
  border-bottom: 2px solid currentColor;
  outline: none;
}

.input-task:hover {
  /* width: 18rem; */
  border-color: grey;
}

.add-task {
  transition: 400ms;
  background: none;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.add-task:hover {
  background-color: #f7fafa;
  font-size: 14px;
}

.add-task:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.add-icon {
  position: absolute;
  top: 70%;
  left: 75%;
}

@media only screen and (min-width: 600px) {
  .Main {
    margin: 0 auto;
    width: 60%;
    height: 90%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header-title {
    padding: 8%;
  }

  .tasks-field {
    height: 100%;
  }

  .add-icon {
    top: 55%;
    left: 70%;
  }
}
